BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# Better Auth GitHub OAuth
BETTER_AUTH_GITHUB_CLIENT_ID=""
BETTER_AUTH_GITHUB_CLIENT_SECRET=""

# Better Auth Google OAuth
BETTER_AUTH_GOOGLE_CLIENT_ID=""
BETTER_AUTH_GOOGLE_CLIENT_SECRET=""

# Connect to Supabase via connection pooling
DATABASE_URL=""
# Direct connection to the database. Used for migrations
DIRECT_URL=""

# Claudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
